.profile__edit-button {
    width: 24px;
    height: 24px;
    background: #000 url(../../../images/edit_button.svg) no-repeat center;
    border: 1px solid #fff;
    box-sizing: border-box;
    margin: 15px 0 0;
    padding: 0;
    cursor: url(../../../images/cursor.svg), pointer;
    grid-area: edit-button;
    transition: opacity .3s ease;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
        margin-top: 55px;
    }
}

@media screen and (max-width: 540px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin: 8px 0 0 0;
    }
}