.popup__input-error {
    width: 164px;
    min-height: 30px;
    font-size: 12px;
    line-height: 1.25;
    color: #FF0000;
    margin-bottom: 0;
    visibility: hidden;
  }

  .popup__input-error_active {
    visibility: visible;
  }