.profile__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    margin: 16px 0 0;
    grid-area: text;
}

@media screen and (max-width: 540px) {
    .profile__text {
        font-size: 14px;
        line-height: 1.21px;
        text-align: center;
        margin-top: 14px;
    }
}