.element__button {
    width: 22px;
    height: 19px;
    margin: 17px 20px 25px 0;
    padding: 0;
    border: 0;
    background: #fff url(../../../images/like.svg);
    cursor: pointer;
    transition: background-image .3s ease;
}

.element__button:hover {
    background-image: url(../../../images/like_hover.svg);
}

.element__button:active {
   background-image: url(../../../images/like_black.svg);
}